.card {
  /* Rectangle 1 */

  position: absolute;
  width: 390px;
  height: 844px;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #d94646 48.44%, rgba(243, 50, 50, 0) 100%);
}

.rabbit {
  /* Rectangle 2 */

  position: absolute;
  width: 118px;
  height: 128px;
  left: 36px;
  top: 620px;

  background: url('@img/rabbit.png');
}

.NewYear {
  /* Rectangle 3 */

  position: absolute;
  width: 128px;
  height: 128px;
  left: 130px;
  top: 140px;

  background: url('@img/newYear.png');
}

.characters {
  /* 送给紫荆的新年贺卡 */

  position: absolute;
  width: 312px;
  height: 32px;
  left: 37px;
  top: 400px;

  border: 1px solid #ffffff;

  animation: fill 0.5s ease forwards 6s;
}

.characters path:nth-child(1) {
  stroke-dasharray: 416;
  stroke-dashoffset: 416;
  animation: line-anim 2s ease forwards;
}

.characters path:nth-child(2) {
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  animation: line-anim 2s ease forwards 0.5s;
}

.characters path:nth-child(3) {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  animation: line-anim 2s ease forwards 1s;
}

.characters path:nth-child(4) {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  animation: line-anim 2s ease forwards 1.5s;
}

.characters path:nth-child(5) {
  stroke-dasharray: 254;
  stroke-dashoffset: 254;
  animation: line-anim 2s ease forwards 2s;
}

.characters path:nth-child(6) {
  stroke-dasharray: 401;
  stroke-dashoffset: 401;
  animation: line-anim 2s ease forwards 2.5s;
}

.characters path:nth-child(7) {
  stroke-dasharray: 207;
  stroke-dashoffset: 207;
  animation: line-anim 2s ease forwards 3s;
}

.characters path:nth-child(8) {
  stroke-dasharray: 332;
  stroke-dashoffset: 332;
  animation: line-anim 2s ease forwards 3.5s;
}

.characters path:nth-child(9) {
  stroke-dasharray: 387;
  stroke-dashoffset: 387;
  animation: line-anim 2s ease forwards 4s;
}

.characters path:nth-child(10) {
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  animation: line-anim 2s ease forwards 4.5s;
}

.characters path:nth-child(11) {
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  animation: line-anim 2s ease forwards 5s;
}

.characters path:nth-child(12) {
  stroke-dasharray: 268;
  stroke-dashoffset: 268;
  animation: line-anim 2s ease forwards 5.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
